<plugin name='rateable' version='0.7.0' grailsVersion='1.2 &gt; *'>
  <author>Matthew Taylor</author>
  <authorEmail>matthew@g2one.com</authorEmail>
  <title>Rateable Plugin</title>
  <description>A plugin that adds a generic mechanism for rating domain objects.</description>
  <documentation>http://grails.org/plugin/rateable</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>RateablePluginResources</resource>
    <resource>org.grails.rateable.RateableController</resource>
    <resource>org.grails.rateable.Rating</resource>
    <resource>org.grails.rateable.RatingLink</resource>
    <resource>org.grails.rateable.TestDomain</resource>
    <resource>org.grails.rateable.TestRater</resource>
    <resource>org.grails.rateable.RateableTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>